<%= semantic_form_for([:admin,@bank]) do |f| %>
  <%= f.error_messages %>

  <% create_sorted_translation_objects(@bank.bank_translations).each do |trans| %>
    <%= f.fields_for :bank_translations, trans do |translation| %>

      <div id="form-<%= trans.locale %>" class="multilanguage_nested">
        <h3><%= t("app.language.#{trans.locale}") %></h3>

        <%= translation.input :name %>
        <%= translation.input :image %>
        <%= translation.hidden_field :locale , :value => trans.locale %>
      </div>

    <% end %>
  <% end %>


  <%= f.inputs do %>
    <%= f.input :code, :input_html => {:size =>35} %>
    <%= f.input :order, :input_html => {:size =>35} %>
    <%= f.input :buy_color, :input_html => {:size =>35} %>
    <%= f.input :sell_color, :input_html => {:size =>35} %>
  <% end %>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
    <%= link_to t('helpers.links.cancel'), admin_banks_path, :class => 'btn btn-sm btn-warning' %>
  </div>
<% end %>
