  <% title t(".title") %>

  <div class="page" data-tab-id="1">
    <div class="intro"><%= t(".page1.intro") %>
    </div>
    <div class="calculator">
      <div class="block calc">
        <div class="title"><%= t(".calculator.title") %></div>
        <div class="inp">
          <div class="caption"><%= t(".calculator.enter_data").html_safe %></div>
          <div class="inp-field"><input type="text" id="worth" value="1"/></div>
          <div id="currency_switch" class="currency-switch">
            <div class="btn gel active" data-option="GEL"></div>
            <div class="btn usd" data-option="USD"></div>
          </div>
        </div>
        <div class="output">
          <div class="row">
            <div class="label"></div>
            <div class="label" data-gel="<%= t(".calculator.gel") %>" data-usd="<%= t(".calculator.usd") %>"><span><%= t(".rate") %></span></div>
            <div class="label space"><%= t(".calculator.your_net_worth") %></div>
          
          </div>
          <div class="row">
              <div class="datepicker-wrapper"><input type="text" class="from" data-type="datepicker" data-default="-3m"></div>         
            <div id="rate_then" class="vk"><div class="value box"></div><div class="symbol usd"></div></div>
             <div id="worth_then" class="vk space"><div class="value box"></div><div class="symbol usd"></div></div>
          </div>
           <div class="row">
               <div class="datepicker-wrapper"><input type="text" class="to" data-type="datepicker" data-default="d"></div>
               <div id="rate_now" class="vk"><div class="value box"></div><div class="symbol usd"></div></div>
           
            <div id="worth_now" class="vk space"><div class="value box"></div><div class="symbol usd "></div></div>
          </div>
        </div>
        <div class="diff">
          <div class="label"><%= t(".calculator.difference").html_safe %></div>
          <div id="worth_diff" class="vk"><div class="value"></div><div class="symbol usd"></div></div>
        </div>
      </div>
      <div class="sep"></div>  
      <div class="block info">
        <div class="person"></div>
        <div class="sep"></div>
        <div id="info_text" class="text"><%= t(".calculator.info_gel").html_safe %></div>
      </div>
    </div>
    <div id="a_chart" style="width:100%;max-width:1024px;"></div>
    <div class="hsw">
      <div><div class="title"><%= t(".hsw") %></div></div>
      <div><div class="text"><%= t(".hsw_text").html_safe %></div></div>
    </div>
  </div>
  <div class="page page2" data-tab-id="2">
    <div class="intro"><%= t(".page2.intro") %></div>
    <div class="title"><%= t(".page2.title") %></div>
    <div class="filters">
      <div class="caption"><%= t(".currency") %></div>
      <%= select_tag :currency, options_for_select(@currencies.each_with_index.map{|x,i| [ x[1], x[0], {} ] }, params[:currency].split(',')), 
              include_blank: false, 
              multiple: true,
              :'data-placeholder' => t('.hint.currency'),
              class: 'selectpicker  filter-b-currency' %>
    </div>
    <div class="b_chart_switch_wrapper">
      <div class="b_chart_switch">
        <div data-compare="none" class="active"><%= t(".cost") %></div><div data-compare="percent">%</div>
      </div>
    </div>
    <div id="b_chart" style="height:500px;width:100%;max-width:1024px;"></div>
  </div>
  <div class="page page3" data-tab-id="3">
    <div class="intro"><%= t(".page3.intro") %></div>
    <div class="title"><%= t(".page3.title") %></div>
    <div class="filters">
      <div class="box">
        <div class="caption"><%= t(".currency") %></div>
        <%= select_tag :currency, options_for_select(@currencies_available.each_with_index.map{|x,i| [ x[1], x[0], {} ] }, 'USD'), 
              :'data-placeholder' => t('.hint.currency'),
              class: 'selectpicker filter-c-currency' %>
      </div>
      <div class="box">
        <div class="caption"><%= t(".bank") %></div>
        <input type='hidden' class="filter-c-bank" data-placehodler="<%=t('.hint.bank')%>" value="BAGA,TBCB,REPL,LBRT">
      </div>
    </div>
      <div class="c_chart_switch_wrapper">
      <div class="c_chart_switch"><div data-compare="both" class="active"><%= t(".both") %></div><div data-compare="buy"><%= t(".buy") %></div><div data-compare="sell"><%= t(".sell") %></div></div>
    </div>
    <div id="c_chart" style="height:800px;width:100%;max-width:1024px;"></div>
  </div>