<% title t(".title") %>


  <div class="sub-line"></div>
  <div class="tabs">
    <div class="tab active" data-id="1"><%= t(".tab1") %></div>
    <div class="tab" data-id="2"><%= t(".tab2") %></div>
    <div class="tab" data-id="3"><%= t(".tab3") %></div>
    <div class="tab" data-id="4"><%= t(".tab4") %></div>
  </div>
  <div class="page active" data-tab-id="1">
    <div class="intro"><%= t(".page1.intro") %>
    </div>
    <div class="calculator">
      <div class="block calc">
        <div class="title"><%= t(".calculator.title") %></div>
        <div class="inp">
          <div class="caption"><%= t(".calculator.enter_data").html_safe %></div>
          <div class="inp-field"><input type="text" id="saving"/></div>
          <div class="currency-field">
            <select>
              <option value="GEL">Lari</option>
              <option value="USD">USD</option>
            </select> 
          </div>
        </div>
        <div class="output">
          <div class="block">
            <div class="label gap"></div>
            <div class="date-from"></div>
            <div class="date-to"></div>
          </div>
          <div class="block">
            <div class="label"></div>
            <div class="rate-from"><div class="value"></div><div class="label"></div></div>
            <div class="rate-to"><div class="value"></div><div class="label"></div></div>
          </div>
           <div class="block">
            <div class="label"></div>
            <div class="networth-from"><div class="value"></div><div class="label"></div></div>
            <div class="networth-to"><div class="value"></div><div class="label"></div></div>
          </div>
        </div>
        <div class="diff">
          <div class="label"></div>
          <div class="diff"><div class="value"></div><div class="label"></div></div>
        </div>
      </div>
      <div class="sep"></div>  
      <div class="block info">
        <div class="person"></div>
        <div class="sep"></div>
        <div class="text"><%= t(".calculator.info").html_safe %></div>
      </div>
    </div>
    <div class="chart"></div>
    <div class="line"></div>
    <div class="sub-line"></div>
    <div class="hsw">
      <div>
      <div class="btn"><%= t(".hsw") %></div></div>
      <div><div class="text"><%= t(".hsw_text") %></div></div>
    </div>
  </div>
  <div class="page" data-tab-id="2">
    <div class="intro">
        <%= label_tag :currency, t(".currency") %>
        <%= select_tag :currency, options_for_select(@currencies.each_with_index.map{|x,i| [ (x[0] + ' - ' +  x[1]), x[0], {'data-content'=>"<div><div class='value'>"+(x[0] + '<span class="name"> - ' +  x[1] + "</span>")+"</div><button type='button' class='close-option' data-dismiss='alert' aria-label='Close' data-id='"+i.to_s+"'>×</button></div>", 'data-title' => 'blah', 'title' => 'blah1' } ] }, params[:currency].split(',')), 
              include_blank: false, multiple: true,
              :'data-live-search' => "true",
              :'data-selected-text-format' => "count > 5",
              :'data-size' => "7",
              :'data-max-options' => "5",
              class: 'selectpicker',
               title:'blah title'
               %>
        <%= button_tag t(".load_rates"), id: 'btnSubmit', :'data-url' => root_path, class: 'btn btn-default' %>
      <div id="stock-percent" style="width: 100%; height: 500px;"></div>
      <div id="stock" style="width: 100%; height: 500px;"></div>
    </div>
    <div class="title"></div>
    <div class="select-rates"></div>    
    <div class="chart"></div>
  </div>
  <div class="page" data-tab-id="3">
    <div class="intro">

      <%= label_tag :currency, t(".currency") %>
      <%= select_tag :currency, options_for_select(@currencies_available.each_with_index.map{|x,i| [ (x[0] + ' - ' +  x[1]), x[0], {'data-content'=>"<div><div class='value'>"+(x[0] + '<span class="name"> - ' +  x[1] + "</span>")+"</div><button type='button' class='close-option' data-dismiss='alert' aria-label='Close' data-id='"+i.to_s+"'>×</button></div>", 'title' => 'blah' } ] }, params[:currency].split(',')), 
            include_blank: false,
            :'data-live-search' => "true",
            :'data-selected-text-format' => "count > 1",
            :'data-size' => "7",
            class: 'selectpicker filter-currency'%>
      <%= label_tag :currency, t(".bank") %>
      <%= select_tag :currency, options_for_select(@banks.each_with_index.map{|x,i| [ x[1], x[0], {'data-content'=>"<div><div class='value'>"+(x[4] + '<span class="name"> - ' +  x[1] + "</span>")+"</div><button type='button' class='close-option' data-dismiss='alert' aria-label='Close' data-id='"+i.to_s+"'>×</button></div>" } ] }, params[:bank].split(',')), 
            include_blank: false, multiple: true,
            :'data-live-search' => "true",
            :'data-selected-text-format' => "count > 5",
            :'data-size' => "7",
            class: 'selectpicker filter-bank'%>
    <div id="rates" style="width: 100%; height: 500px;"></div>
  </div>
  </div>
  <div class="page" data-tab-id="4">
    <div class="intro">API</div>
  </div>

