  <% title t("root.tab1") %>
  <div class="page page3" data-tab-id="commercial_banks">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#commercial-rates" aria-controls="commercial-rates" role="tab" data-toggle="tab"><%= t(".commercial.rates.title") %></a></li>
        <li role="presentation"><a href="#commercial_convertor" aria-controls="commercial_convertor" role="tab" data-toggle="tab"><%= t(".commercial.convertor.title") %></a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="commercial-rates">
          <div class="intro"><%= t(".page3.intro") %></div>
          <div class="filters">
            <div class="box">
              <div class="caption"><%= t(".currency") %></div>
              <%= select_tag :currency, options_for_select(@currencies_available.each_with_index.map{|x,i| [ x[1], x[0], {} ] }, 'USD'),
                    :'data-placeholder' => t('.hint.currency'),
                    class: 'selectpicker filter-c-currency' %>
            </div>
            <div class="box">
              <div class="caption"><%= t(".bank") %></div>
              <input type='hidden' class="filter-c-bank" data-placehodler="<%=t('.hint.bank')%>" value="BAGA,TBCB,REPL,LBRT">
            </div>
          </div>
          <div class="c_chart_switch_wrapper">
            <div class="c_chart_switch"><div data-compare="both" class="active"><%= t(".both") %></div><div data-compare="buy"><%= t(".buy") %></div><div data-compare="sell"><%= t(".sell") %></div></div>
          </div>
          <div id="c_chart" class="chart" style="height:600px;width:100%;max-width:1024px;"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="commercial_convertor">
          <div class="intro"><%= t(".commercial.convertor.intro") %></div>
          <div class="table">
            <div class="row">
              <div class="column space">
                <div class="box">
                  <div class="caption"><%= "#{t('.commercial.convertor.date')}:" %></div>
                  <div class="datepicker-wrapper">
                    <input type="text" id="convertor_date" class="datepicker" data-type="datepicker" data-default="-3m" readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="column"></div>
              <div class="column"></div>
            </div>
            <div class="picker row">
              <div class="column">
                <div class="box">
                  <div class="caption"><%= "#{t('.commercial.convertor.from')}:" %></div>
                  <div class="input">
                    <input type="text" id="convertor_input" value="1">
                    <%= select_tag :currency, options_for_select(@currencies_available.each_with_index.map{|x,i| [ x[1], x[0], {} ] }, 'USD'),
                        :'data-placeholder' => t('.hint.currency'),
                        class: 'selectpicker', id: "convertor_from" %>
                  </div>
                </div>
              </div>
              <div class="column">
                <div id="convertor_swap"></div>
                <div class="box">
                  <div class="caption"><%= "#{t('.commercial.convertor.to')}:" %></div>
                  <div id="convertor_to">GEL</div>
                </div>
              </div>
              <div class="column"></div>
            </div>
            <div class="heading row">
              <div class="column bottom-line"></div>
              <div id="buying_label" class="column"><%= t('.commercial.convertor.buying_gel') %></div>
              <div class="column"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page page2" data-tab-id="national_bank">
    <div class="intro"><%= t(".page2.intro") %></div>
    <div class="filters">
      <div class="caption"><%= t(".currency") %></div>
      <%= select_tag :currency, options_for_select(@currencies.each_with_index.map{|x,i| [ x[1], x[0], {} ] }, params[:currency].split(',')),
              include_blank: false,
              multiple: true,
              :'data-placeholder' => t('.hint.currency'),
              class: 'selectpicker  filter-b-currency' %>
    </div>
    <div class="b_chart_switch_wrapper">
      <div class="b_chart_switch">
        <div data-compare="none" class="active"><%= t(".cost") %></div><div data-compare="percent">%</div>
      </div>
    </div>
    <div id="b_chart" class="chart" style="height:600px;width:100%;max-width:1024px;"></div>
  </div>

  <div class="page page1" data-tab-id="calculator">
    <div class="intro"><%= t(".page1.intro") %>
    </div>
    <div class="calculator">
      <div class="block calc">
        <div class="title"><%= t(".calculator.title") %></div>
        <div class="inp">
          <div class="caption"><%= t(".calculator.enter_data").html_safe %></div>
          <div class="inp-field"><input type="text" id="worth" value="1"/></div>
          <div id="currency_switch" class="currency-switch">
            <div class="btn gel active" data-option="GEL" title="<%= t('app.common.gel') %>"></div>
            <div class="btn usd" data-option="USD" title="<%= t('app.common.usd') %>"></div>
          </div>
        </div>
        <div class="output">
          <div class="col">
            <div class="label"></div>
           <div class="datepicker-wrapper"><input type="text" class="from datepicker" data-type="datepicker" data-default="-3m" readonly="readonly"></div>
            <div class="datepicker-wrapper"><input type="text" class="to datepicker" data-type="datepicker" data-default="d"  readonly="readonly"></div>
          </div>
          <div class="col">
            <div class="label" data-gel="<%= t(".calculator.gel") %>" data-usd="<%= t(".calculator.usd") %>"><span><%= t(".rate") %></span></div>
              <div id="rate_then" class="vk"><div class="value box"></div><div class="symbol usd" title="<%= t('app.common.usd') %>"></div></div>
              <div id="rate_now" class="vk"><div class="value box"></div><div class="symbol usd" title="<%= t('app.common.usd') %>"></div></div>
          </div>
          <div class="col col-worth">
             <div class="label space"><%= t(".calculator.your_net_worth") %></div>
               <div id="worth_then" class="vk space"><div class="value box"></div><div class="symbol usd" title="<%= t('app.common.usd') %>"></div></div>
               <div id="worth_now" class="vk space"><div class="value box"></div><div class="symbol usd" title="<%= t('app.common.usd') %>"></div></div>
          </div>

        </div>
        <div class="diff">
          <div class="label"><%= t(".calculator.difference").html_safe %></div>
          <div id="worth_diff" class="vk"><div class="value"></div><div class="symbol2 usd" title="<%= t('app.common.usd') %>"></div></div>
        </div>
      </div>
      <div class="sep"></div>
      <div class="block info">
        <div class="person"></div>
        <div class="sep"></div>
        <div id="info_text" class="text"><%= t(".calculator.info_gel").html_safe %></div>
      </div>
    </div>
    <div id="a_chart" class="chart" style="width:100%;max-width:1024px;"><div class="loader"></div></div>
    <div class="hsw">
      <div><div class="title"><%= t(".hsw").html_safe %></div></div>
      <div><div class="text"><%= t(".hsw_text").html_safe %></div></div>
    </div>
  </div>
