<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? "#{yield(:title)} | #{t('app.common.app_name')}" :
				t('app.common.app_name') %></title>
    <%= csrf_meta_tags %>
	  <%= include_gon %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
		<!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
	  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <div class="wrapper">
     
      <div class="container">
       <div class="header">
        <div class="box">
          <div class="logo"><img src="/assets/svg/logo_<%= I18n.locale %>.svg" alt="Logo" ></div>
          <div class="menu-toggle"><img src="/assets/svg/menu_cg.svg" alt="Navigation toggle" ></div>
          <div class="right des">
            <div><%= link_to t("app.common.about"), about_path %></div>
            <div class="sep">|</div>
            <div class="lang-switch">
                      <% I18n.available_locales.each do |locale| %>
                         <% if locale != I18n.locale %>
                            <%= link_to t("app.language.#{locale}"), params.merge(:locale => locale), lang: locale %>
                         <% end %>
                      <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="content">
        <div class="sub-line"></div>
        <div class="tabs">          
          <div class="tab" data-id="1"><%= link_to t("root.tab1"), root_path(:anchor=>'p=1') %></div>
          <div class="tab" data-id="2"><%= link_to t("root.tab2"), root_path(:anchor=>'p=2') %></div>
          <div class="tab" data-id="3"><%= link_to t("root.tab3"), root_path(:anchor=>'p=3') %></div>
          <div class="tab<%= @tab == 4 ? ' active' : '' %>"><%= link_to t("app.common.api"), api_path %></div>
          <div class="tab mob"><%= link_to t("app.common.about"), about_path %></div>
          <div class="tab mob"><% I18n.available_locales.each do |locale| %>
                         <% if locale != I18n.locale %>
                            <%= link_to t("app.language.#{locale}"), params.merge(:locale => locale), lang: locale %>
                         <% end %>
                      <% end %>
          </div>
        </div>
        <%= yield %>     
      </div>
    </div>
    <div class="footer">
      <div class="box">
        <div class="share">
          <span><%= t('app.common.share') %></span>
          <div class="addthis_sharing_toolbox"></div>
        </div>
        <div class="last-update"><%= t('app.common.last_update') %><span><%= "#{I18n.l @last_scrapped_at, format: :long}" %></span></div>
        <div class='powered-by'>
          <a href="http://www.jumpstart.ge" target="_blank" title="JumpStart Georgia - We communicate data better!"><img alt="Jumpstart-logo" src="../assets/svg/js.svg"></a>  
        </div>      
      </div>
    </div>
  </div>


    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag  *(@js.present? ? ["application", @js].flatten : ["application"]), :media => "all" %>   
		<script type="text/javascript">
			I18n.defaultLocale = "<%= I18n.default_locale %>";
			I18n.locale = "<%= I18n.locale %>";
		</script>
    <% if I18n.locale == :ka %>
      <%= javascript_include_tag "datepicker-ka" %>
    <% end %>

		<% if Rails.env.production? %>
			<!-- insert google analytics for production site here -->
		<% elsif Rails.env.staging? %>
			<!-- insert google analytics for staging site here -->
		<% end %>

  </body>
</html>
